tts_models/audio/*.wav

tts_models/dataset/

tts_models/bark/speakers/
tts_models/bark/bark/
tts_models/bark/*.wav

tts_models/coqui_xtss/dataset/
tts_models/coqui_xtss/runs/
tts_models/coqui_xtss/*.wav

tts_models/nvidia_flowtron/*.pt

tts_models/speechT5/*.wav
tts_models/speechT5/dataset/

tts_models/tortoise/*.wav

app/api/models/
app/api/__pycache__/